@model BanQuitoPassport.Models.ROL
@{
    ViewBag.Title = "NuevoRol";
}

<h2>Nuevo Rol</h2>

@using (Html.BeginForm("NuevoRol", "Roles", FormMethod.Post))
{
<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(d =>d.NOMBRER)
        @Html.TextBoxFor(d =>d.NOMBRER, "", new { @class = "form-control " })
        <br />
        <div style="text-align:right;">
            <input value="Guardar" class="btn btn-primary" type="submit"/>
        </div>
    </div>

</div>
}